# Configuración del servidor
PORT=3000

# Conexión a la base de datos PostgreSQL
# Formato: postgresql://[usuario]:[contraseña]@[host]:[puerto]/[nombre_bd]?schema=public
DATABASE_URL="postgresql://usuario:contrasena@localhost:5432/app_arca?schema=public"
